<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>java</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
    <!-- 在加载servlet时就先执行init()方法 -->
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>TextServlet</servlet-name>
  <servlet-class>text.TextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TextServlet</servlet-name>
    <url-pattern>/TextServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DownServlet</servlet-name>
  <servlet-class>com.download.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DownServlet</servlet-name>
    <url-pattern>/DownServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>TextCookieServlet</servlet-name>
  <servlet-class>text.TextCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TextCookieServlet</servlet-name>
    <url-pattern>/TextCookieServlet</url-pattern>
  </servlet-mapping>
  
</web-app> 